# Python environment folder
thesis_env/

__pycache__/
# Google Dataset and MNIST Dataset
speech_commands/
MNIST-data/

# Temporary files and folders for debugging
debug*

# Personal notes for the final thesis
summary.md

# Recorder audio files
*.wav

# Setup for development
.vscode/

# 
weights/
headers/

